/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:brown;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: black;
    color:black;
    
}

section {
    padding: 20px;
}

footer {
    background-color: brown;
    color:azure;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1{
    color: aliceblue;
}


